{% extends 'base.html.twig' %}

{% block title %}Bienvenue Sur Le Site Du Neuhof Futsal ⚽️ {% endblock %}

{% block body %}

<section id="mainIntro">

    <div class="txtIntro">

    <h1>#NHF </h1>
    <h2>Futsal</h2>

    </div>

        <div class="homeIntro">

            <h2>Bienvenue Sur Le Site Du Csc Neuhof Futsal</h2>

            <p>Le club NEUHOF FUTSAL N.F. est affilié à la fédération française de Football.<br>Inculquer les valeurs inhérentes à la pratique sportive aux jeunes de 6 à 18 ans, telle est la vocation de la fédération française de Football.<br> Le football a identifié ces valeurs sous le sigle : P.R.E.T.S (le Plaisir, le Respect, l’Engagement, la Tolérance et la Solidarité), et le programme éducatif fédéral propose de leur donner corps dans le cadre des activités du club.</p>
        
        </div>

    
</section>

<section id="homePresentation">

    <div class="textePresentation">

        <h3>Le Neuhof Futsal</h3>

        <p></p>
    
    </div>

    <div class="imgPresentation">

        <img src="{{asset('img/9.jpg')}}">
        <h4>M. Kenny Tanovan</h3>
        <p>( Président Du Club ) <p>
    
    </div>

</section>


<section id="slideActu">

    {% for actualite in actualites %}

        <div class="slide" style="background-image: url({{ actualite.photoactualite }})">

            <h3>{{ actualite.titreactualite }}</h3>

        </div>

    {% endfor %}

</section>


{% endblock %}

