{% extends 'base.html.twig' %}

{% block title %}Actualités Du Club ⚽️{% endblock %}

{% block body %}

        <p> {{ actualite.titreactualite }} </p>
        <p> {{ actualite.texteactualite }} </p>

{% endblock %}