<link rel="stylesheet" href="{{ asset('css/style.css') }}" />

{% block title %}Modifier Mon Commentaire{% endblock %}

{% block body %}

    <div class="editComment">

        <h3>Modifier Mon Commentaire</h3>

            {% if app.user %}
                    
                {{ form(formEditComment) }}
                            
            {% endif %}

    </div>
    
{% endblock %}