{% extends 'base.html.twig' %}

{% block title %}Modifier Mon Commentaire{% endblock %}

{% block body %}

<section id="editContainer">

    <div class="originalComment">

        <h3> Commentaire Original : </h3>

        <p> {{ post.textePost }} </p>

    </div>

    <div class="editComment">

        <h3>Modifier Mon Commentaire</h3>

            {% if app.user %}
                    
                {{ form(formEditComment) }}
                            
            {% endif %}

    </div>
    
</section>

{% endblock %}