{% extends 'base.html.twig' %}

{% block title %}Actualités Du Club ⚽️{% endblock %}

{% block body %}

<section class="indexActualite">

    <h2> Toutes Les Actualités Du Club </h2>

        <div class="actuContainer">

        {% for actualite in actualites %}

                <div onclick="document.location='{{ path('details_actualite', {'id': actualite.id}) }}'" class="item" style="background-image: url({{ actualite.photoactualite }})">

                    <div class="item-desc">

                        <p> {{ actualite.titreactualite }} </p>

                    </div>

                </div>

        {% endfor %}

        </div>

</section>

{% endblock %}
