{% extends 'base.html.twig' %}

{% block title %}Actualités Du Club ⚽️{% endblock %}

{% block body %}

<section class="indexActualite">

    {% for actualite in actualites %}

        <div  onclick="document.location='{{ path('details_actualite', {'id': actualite.id}) }}'" class="owl-carousel custom-carousel owl-theme">

            <div class="item" style="background-image: url({{ actualite.photoactualite }})">

		        <div class="item-desc">

                    <p> {{ actualite.titreactualite }} </p>

                </div>

            </div>

        </div>

    {% endfor %}

</section>

{% endblock %}
