

<h1>Bonjour !</h1>

<p>
    Veuillez confirmer votre adresse Email en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer votre Email</a>.
    Ce lien expirera automatiquement au bout de : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
