{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation envoyé{% endblock %}

{% block body %}

<section id="resetPasswordContainer">

    <div class="resetWrapper">
        <p>
            Si un compte associé à l'adresse Email que vous avez saisie existe, vous allez recevoir un Email contenant le lien pour réinitialiser votre mot de passe.
            Ce lien expirera automatiquement dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous ne recevez pas d'email, vérifié dans votre dossier Spam sinon <a href="{{ path('app_forgot_password_request') }}">essayez encore</a>.</p>

    </div>

</section>

{% endblock %}
