{% extends 'base.html.twig' %}

{% block title %}Réinitialiser Votre Mot De Passe ⚽️{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section id="resetPasswordContainer">

        <div class="resetWrapper">

            <h2>Réinitialiser votre mot de passe</h2>

            {{ form_start(requestForm) }}
            <div class="infoReset">
                {{ form_row(requestForm.email) }}
            </div>
                <div class="infoReset">
                    <small>
                        Entrez votre adresse email et vous receverez un lien permettant de réinitialiser votre mot de passe.
                    </small>
                </div>

                <button class="submit-btn">Envoyer Le Mail</button>
            {{ form_end(requestForm) }}

        </div>

    </section>
{% endblock %}
