{% extends 'base.html.twig' %}

{% block title %}Réinitialiser Votre Mot De Passe{% endblock %}

{% block body %}

    <section id="resetPasswordContainer">

        <div class="resetWrapper">

    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(resetForm) }}
    <div class="infoReset">
        {{ form_row(resetForm.plainPassword) }}
    </div>
    <div class="infoReset">
        <button class="submit-btn">Réinitialiser le mot de passe</button>
    {{ form_end(resetForm) }}
    </div>
        </div>

    </section>


{% endblock %}
