/* Index Actu */

 .indexActualite {
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    background-color: #040404;
    background-image: url(https://i.gifer.com/EkA5.gif);
    background-size: cover;
    font-family: 'Quantico', sans-serif;
  
  }

  .indexActualite h2 {

    text-shadow: rgb(255, 0, 0) 1px 0 10px;
    font-size: 3em;
    margin-bottom: 2%;

  }

  .actuContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .indexActualite .item {
    margin: 0 15px 60px;
    width: 320px;
    height: 400px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

  }

  .indexActualite .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  }
  .indexActualite .item-desc {
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    top: 100;
    overflow: hidden;
  
  }
  
  
  @media (min-width: 992px) and (max-width: 1199px) {
  
    .indexActualite {
      padding: 50px 30px;
    }
    .indexActualite .item {
      margin: 0 12px 60px;
      width: 260px;
      height: 360px;
    }
  
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
  
    .indexActualite {
      padding: 50px 30px 40px;
    }
    .indexActualite .item {
      margin: 0 12px 60px;
      width: 240px;
      height: 330px;
    }
  
  }
  
  @media (max-width: 767px) {
  
    .indexActualite {
      padding: 30px 15px 20px;
      flex-wrap: wrap;
    }
    .indexActualite .item {
      margin: 0 10px 40px;
      width: 200px;
      height: 280px;
    }
  
  }
  
  
  /* PAGE DETAIL ACTU */
  
  
  .detailActuWrapper {
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 7px;
    padding: 2%;
    margin: 2%;
    margin-top: 8%;
    background-color: #040404;
    background-image: url(https://i.gifer.com/EkA5.gif);
    background-size: cover;
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    font-family: 'Quantico', sans-serif;
  
  }
  
  .detailActuWrapper img {
  
    max-width: 50%;
    border-radius: 5%;
  }
  
  .textActu {
  
    padding: 3%;
    color: white;
    text-align: center;

  }

  .textActu h2 {

    font-size: 2.4em;
    margin-bottom: 20%;
  }
  
  .commentContainer {
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 7px;
    padding: 3%;
    background: rgba(0, 0, 0, 0.398);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    font-family: 'Quantico', sans-serif;
  }

  .footComment {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: red;
    padding-top: 2%;

  }

  .footComment a {

    text-decoration: none;
    font-size: 1.1em;
    color: red;
  }
  
  .comments {
  
  /* max-width: 50%; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  color: white;
  background: rgba(0, 0, 0, 0.398);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  border-radius: 7px;
  
  }

  .commentWrapper {
  
    display: flex;
    flex-direction: column;
    max-width: 50%;
  
  }
  
  .commentsText {
  
    font-size: 1.2em;
  }
  
  .userPost {
  
    font-size: 0.8em;
  }
  
  .editComment {
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    margin: 2%;
    padding: 3%;
    gap: 50px;
    color: white;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
  
  }
  