* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ---------------------VARIABLES DARK/LIGHT--------------------- */


[data-theme="light"] {

  --bg-color: #ffffff;
  --links: #454545;
  --linksHover: #00ddff;
  --div: #ffffff8b;
  --text1 : #454545;
  --gifHomeIntro: url("https://i.gifer.com/2I3c.gif") ;
  --gifDiv: url("https://i.gifer.com/7Lyc.gif") ;
  --gifText : url("https://i.gifer.com/7ztu.gif") ;
  --gifTextPresentation : url("https://i.gifer.com/U0Vg.gif");
  --textShadow : rgb(0, 195, 255) 1px 0 10px;
  --lastName :  #00ddff;
  --boxShadow : 0 8px 32px 0 rgba(31, 135, 133, 0.37);
  --subMenuBg : #00ddff71;
  
}

[data-theme="dark"] {

  --bg-color: black;
  --links: #FFFFFF;
  --linksHover: #ff0000;
  --div: rgba(255, 0, 0, 0);
  --text1 : #FFFFFF;
  --gifHomeIntro: url("/img/front/line.gif") ;
  --gifDiv: url("/img/front/redsmoke.gif") ;
  --gifText: url("/img/front/stade.gif") ;
  --gifTextPresentation : url("/img/front/circle.gif");
  --textShadow : rgb(255, 0, 0) 1px 0 10px;
  --lastName : #ff0000;
  --boxShadow : 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  --subMenuBg : #ff000082;
  
}


body {

  background-color: var(--bg-color);

}


.darkToggle {

  position: absolute;
  color: white;
  top: 0;
  left: 20%;

}



  /* ---------------------MESSAGE FLASH----------------------*/


.flashMessage {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background: rgba(30, 255, 0, 0.331);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  font-family: 'Quantico', sans-serif;
  border-radius: 0 0 20px 20px;
  text-align: center;
 
}


.sub-menu { 

  visibility: hidden;
  opacity: 0;
  position: relative;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}


.navlinks :hover > .sub-menu {

  visibility: visible; 
  opacity: 1;
  z-index: 10;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; 

}


.nav {

  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 1000;
  line-height: 65px;
  text-align: center;
  top: 0;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 0.9em;

}


.nav div.logo {

  float: left;
  width: 20%;
  height: auto;
 
}


.nav div.logo img {

  width: 80%;
  top: 0;
  margin-top: -10%;

}

.nav div.main_list {

  height: 65px;
  float: right;
 
}


.nav div.main_list ul {
   
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}


.nav div.main_list .navlinks li {

  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
  
}


.nav div.main_list .navlinks li i {

  color: var(--links);
  font-size: 1.6em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  
}


.nav div.main_list .navlinks li span {

  position: absolute;
  margin-top:50px;
  margin-left:-100px;
  color:var(--links);
  background:rgba(0, 0, 0, 0);
  border-radius:20px;
  transform:scale(0) rotate(-12deg);
  transition:all .25s;
  opacity:0;
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  
}


.nav div.main_list .navlinks li:hover span, li:focus span {

  transform:scale(1) rotate(0);  
  opacity:1;
  
}


.nav div.main_list .navlinks :hover > i{

  color: var(--linksHover);
  text-shadow: var(--textShadow);
  
}


.nav div.main_list .navlinks .sub-menu li {

  padding: 0;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;

}


.nav div.main_list .navlinks .sub-menu {

  background: var(--subMenuBg);
  height: 300%;
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 20px;

}


.nav div.main_list ul li a {

  text-decoration: none;
  color: var(--links);
  line-height: 65px;
  font-size: 1.6em;
  transition:all 0.25s;

}


.nav div.main_list ul li a:hover {

  color: var(--linksHover);
  text-shadow: var(--textShadow);

}


.navTrigger {

  display: none;

}


.nav {

  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

}


.affix {

  padding: 0;
  background: var(--subMenuBg);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 0 0 10px 20px;

}


/*  ---------------------ANIMATION BOUTON NAVBAR--------------------- */

.navTrigger {

  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  
}


.navTrigger i {

  background-color: #ff000000;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  background-image: url(https://i.gifer.com/75Z8.gif);
  height: 4px;
  
}

.navTrigger i:nth-child(1) {

  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;

}


.navTrigger i:nth-child(2) {

  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;

}


.navTrigger i:nth-child(3) {

  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;

}


.navTrigger.active i:nth-child(1) {

  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;

}


.navTrigger.active i:nth-child(2) {

  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;

}


.navTrigger.active i:nth-child(3) {

  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;

}


@-webkit-keyframes inM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}


@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}


@-webkit-keyframes outM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}


@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}


@-webkit-keyframes inT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}


@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}


@-webkit-keyframes outT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}


@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}


@-webkit-keyframes inBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}


@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}


@-webkit-keyframes outBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}


@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}



/*  ---------------------FOOTER--------------------- */



.footer #button {

	width:35px;
	height:3px;
	border: #ff00005f 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;

}


.footer #button i {

  color: rgba(255, 255, 255, 0.662);
  text-shadow: rgb(251, 0, 0) 1px 0 10px;
  opacity: 1;
  
}


.footer:hover  #button i {

opacity: 0;

}


.footer:hover #button {

	width:35px;
	height:35px;
	border: #ff00005f 12px solid;
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
	position:relative;

}


.footer {

	bottom:0;
	left:0;
	position:fixed;
  width: 100%;
  height: 2em;
  overflow:hidden;
  margin:0 auto;
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
	z-index:999;
  color: white;
  font-family: 'Allerta Stencil', sans-serif;
  
}


.footer:hover {

	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
	height: 25em;

}


.footer #container {

	margin-top:5px;
	width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
	background: rgba(0, 0, 0, 0.36);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;

}


.footer #cont {

  display: flex;
  flex-direction: row;
  position:relative;
  /* top:-45px;
  right:190px;
	width:150px;
	height:auto; */
	margin:0 auto;

}


.footer_center {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
	width:25%;
	float:left;
  text-align:center;

}


.footer_center img {

	width:100%;

}


.footer_center i {

  color: red;
  font-size: 1.2em;

}


.icon  i {

  color: white;

}


.footer_center iframe {

	width:100%;
  height: 100%;
  padding: 2%;
  border: none;
  border-radius: 10px;
  margin-top: 5%;
  filter: grayscale(1);
  transition: filter 0.6s;

}


.footer_center iframe:hover {

  filter: grayscale(0);
  
}


.footer h3 {

	font-family: 'Allerta Stencil', sans-serif;
	font-size: 30px;
	font-weight: 100;

}


.footer a {

	color: white;
  text-decoration: none;

}


.wrapperIcon {

  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;

}


.wrapperIcon .icon {

  position: relative;
  background: #ffffff73;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}


.wrapperIcon .tooltip {

  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}


.wrapperIcon .tooltip::before {

  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}


.wrapperIcon .icon:hover .tooltip {

  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

}


.wrapperIcon .icon:hover span,
.wrapperIcon .icon:hover .tooltip {

  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);

}


.wrapperIcon .facebook:hover,
.wrapperIcon .facebook:hover .tooltip,
.wrapperIcon .facebook:hover .tooltip::before {

  background: #1877F2;
  color: #ffffff;

}


.wrapperIcon .youtube:hover,
.wrapperIcon .youtube:hover .tooltip,
.wrapperIcon .youtube:hover .tooltip::before {

  background: #CD201F;
  color: #ffffff;

}



/*  ---------------------PAGE INDEX LIENS EQUIPES --------------------- */

.containerLinkTeam {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  max-width: 90vw;
  margin: 5%;
  margin-top: 10%;
  background-color: #040404;
  background-image: url("/img/front/redsmoke.gif");
  background-size: cover;
  box-shadow: 0 15px 25px rgba(255, 0, 0, 0.6);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  font-family: 'Quantico', sans-serif;

}


.linkTeam:hover {

  background: #f403038e;
  border-radius: 5px;
  box-shadow: 0 0 5px #f40303cb,
              0 0 25px #f40303b5,
              0 0 50px #f40303a4,
              0 0 100px #f40303d9;

}


.linkTeam {

  width: 50%;
  background: rgba(147, 147, 147, 0.097);
  box-shadow: 0 15px 25px rgba(255, 0, 0, 0.6);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
  font-size: 2em;
  text-align: center;

}


.linkTeam a {

text-decoration: none;
color: white;

}



/*  ---------------------Page CGU---------------------  */



.cguContainer {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 5%;
  padding: 2%;
  color: white;
  font-family: 'Quantico', sans-serif;
  background-color: #040404;
  background-image: url("/img/front/redsmoke.gif");
  background-size: cover;

}


.cgu {

  max-width: 80vw;
  text-align: center;
  line-height: 2em;
  background: rgba(255, 255, 255, 0.056);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  padding: 5%;

}


.cgu h2 {

  text-shadow: rgb(255, 0, 0) 1px 0 10px;
  font-size: 2.2em;
  font-family: 'Quantico', sans-serif;
  margin-bottom: 5%;

}


/*  ---------------------PAGE PLAN DU SITE---------------------  */



#planSite {

  padding-top: 8%;
  padding-bottom: 5%;
  width: 100%;
  min-height: 70vh;
  color: white;
  font-family: 'Quantico', sans-serif;
  background-color: #040404;
  background-image: url("/img/front/redsmoke.gif");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Quantico', sans-serif;

}


.mainLink {

  margin-top: 3%;
  background: rgba(255, 255, 255, 0.056);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  min-width: 200px;
  text-align: center;

}


.mainLink a {

  text-decoration: none;
  color: white;
  font-size: 2em;
  font-family: 'Quantico', sans-serif;

}


.mainLink a:hover {

  text-shadow: rgb(255, 0, 0) 1px 0 10px;

}


.targetLink {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.targetLink a {

  font-size: 1.5em;

}


.titlePlan {

  font-size: 3em;
  font-family: 'Quantico', sans-serif;
  text-shadow: rgb(255, 0, 0) 1px 0 10px;

}



/*  ---------------------PAGE PROFIL---------------------  */



#containerProfil {

  min-width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8%;
  margin-bottom: 3%;
  padding: 2%;
  color: white;
  font-family: 'Quantico', sans-serif;
  background-color: #040404;
  background-image: url("/img/front/redsmoke.gif");
  background-size: cover;

}


#containerProfil h2 {

  text-shadow: rgb(255, 0, 0) 1px 0 10px;
  font-size: 2.2em;
  font-family: 'Quantico', sans-serif;

}


#containerProfil h3 {


  font-size: 1.6em;
  font-family: 'Quantico', sans-serif;
  font-weight: lighter;

}


.containerInfo {

  background: rgba(255, 255, 255, 0.056);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  min-width: 30vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-right: 2%;

}


.containerPostProfil {

  min-width: 60vw;
  min-height: 40vh;
  text-align: center;
  background: rgba(255, 255, 255, 0.056);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;

}


.postProfil {

  background: rgba(2, 0, 0, 0.2);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 1%;
  border-radius: 10px;

}


.postProfil p {
 
  font-size: 1.4em;

}


.postProfil span {

  font-size: 0.7em;
  color: red;
  background: rgba(15, 14, 14, 0.289);
  border-radius: 5px;

}


.postItems {

  min-width: 70%;
  max-width: 70%;

}


.postActions {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  
}


.postActions a {

  color: white;
  font-size: 1.4em;
  transition:all 0.25s;

}


.postActions a:hover {

  text-shadow: rgb(255, 0, 0) 1px 0 10px;
  font-size: 1.6em;

}


.supprFirst {

  font-size: 2.4em;
  font-family: 'Quantico', sans-serif;
  text-shadow: rgb(255, 0, 0) 1px 0 10px;
  text-align: center;
  color: white;

}


.supprSecond {

  color: red;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  margin-top: 10%;
  margin-bottom: 10%;
  transition: all 0.4s;

}


.supprSecond:hover {

  text-shadow: rgb(255, 0, 0) 1px 0 10px;
  transition: all 0.4s;

}


.supprThird {

  text-align: center;
  color: black;
  font-size: 0.7em;

}



/*  ---------------------MEDIA QUERY--------------------- */



@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .containerNav {

    margin: 0;

  }

}

@media only screen and (max-width: 800px)  {

  .navTrigger {

    display: block;
  }


  .nav div.logo {

    margin-left: 15px;
    width: 25%;

  }


  .nav div.logo img {

    width: 100%;

  }


  .nav div.main_list {

    width: 100%;
    height: 0;
    overflow: hidden;

  }


  .nav div.show_list {

    height: auto;
    display: block;
      
  }


  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.563);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
   
  }


  .nav div.main_list ul li {

    width: 100%;
    text-align: right;

  }


  .nav div.main_list ul li a {

    text-align: center;
    width: 100%;
    font-size: 1rem;
    padding: 20px;

  }


  #planSite {

  flex-direction: column;
  min-height: 100vh;
  gap: 20px;

  }


  .titlePlan {

  font-size: 2em;
  
  }

}
