* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* ---------------------BOUTON DARK/LIGHT--------------------- */


.infoBulle {

  position: absolute;
  width: 100%;
  border-radius: 40%;
  font-size: 1.2em;
  color: var(--text1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 50%;

}


.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 5px;

}


.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ffffff;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  box-shadow: var(--boxShadow);
}

.slider:before {
  background-color: var(--subMenuBg);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #ffffff20;
  box-shadow: var(--boxShadow);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ---------------------VARIABLES DARK/LIGHT--------------------- */


[data-theme="light"] {

  --bg-color: #ffffff;
  --links: #454545;
  --linksHover: #00ddff;
  --div: #ffffff8b;
  --text1 : #454545;
  --gifHomeIntro: url("/img/front/whiteBubbles.gif") ;
  --gifDiv: url("/img/front/bluePoint.gif") ;
  --gifText : url("/img/front/blueWave.gif") ;
  --gifTextPresentation : url("/img/front/progressCircle.gif");
  --textShadow : rgb(0, 195, 255) 1px 0 10px;
  --gradientName : linear-gradient(90deg, #ffffff00, #00ddff, #ffffff00);
  --lastName :  #00ddff;
  --boxShadow : 0 8px 32px 0 rgba(31, 135, 133, 0.37);
  --subMenuBg : #00ddff71;
  --iconFooter : #0000004d;
  --shadowButton :0 0 5px #03e4f4cb,
                  0 0 25px #03f4d8b5,
                  0 0 50px #03f4eca4,
                  0 0 100px #03ccf4d9;
  
}

:root {

  --bg-color: rgb(0, 0, 0);
  --links: #FFFFFF;
  --linksHover: #ff0000;
  --div: rgba(0, 0, 0, 0.322);
  --text1 : #FFFFFF;
  --gifHomeIntro: url("/img/front/line.gif") ;
  --gifDiv: url("/img/front/redsmoke.gif") ;
  --gifText: url("/img/front/stade.gif") ;
  --gifTextPresentation : url("/img/front/circle.gif");
  --textShadow : rgb(255, 0, 0) 1px 0 10px;
  --gradientName : linear-gradient(90deg, #ffffff00, #ff0000, #ffffff00);
  --lastName : #ff0000;
  --boxShadow : 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  --subMenuBg : #ff000082;
  --iconFooter : #ffffff37;
  --shadowButton :0 0 5px #f40303cb,
                  0 0 25px #f40303b5,
                  0 0 50px #f40303a4,
                  0 0 100px #f40303d9;
  
}


body {

  background-color: var(--bg-color);
  transition: 0.5s ease-in-out;

}


.darkToggle {

  position: absolute;
  color: white;
  top: 0;
  left: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 5%;

}

.darkMode {

  background-color: black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.lightMode {

  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}



  /* ---------------------MESSAGE FLASH----------------------*/



.flashMessageSuccess {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background: rgba(30, 255, 0, 0.646);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  font-family: 'Quantico', sans-serif;
  border-radius: 0 0 20px 20px;
  text-align: center;
 
}

.flashMessageError {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  background: rgba(255, 0, 0, 0.563);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  font-family: 'Quantico', sans-serif;
  border-radius: 0 0 20px 20px;
  text-align: center;
 
}



  /* ---------------------NAVBAR----------------------*/



.nav {

  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 1000;
  line-height: 65px;
  text-align: center;
  top: 0;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 0.9em;
  
}


.sub-menu { 

  visibility: hidden;
  opacity: 0;
  position: relative;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}


.navlinks :hover > .sub-menu {

  visibility: visible; 
  opacity: 1;
  z-index: 10;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; 

}


.nav div.logo {

  float: left;
  width: 20%;
  height: auto;
  border-radius: 50%;
 
}


.nav div.logo img {

  width: 80%;
  top: 0;
  margin-top: -10%;

}


.nav div.logo img:hover {

  cursor: pointer;

}


.nav div.main_list {

  height: 65px;
  float: right;
 
}


.nav div.main_list ul {
   
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}


.nav div.main_list .navlinks li {

  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
  
}


.nav div.main_list .navlinks li i {

  color: var(--links);
  font-size: 1.6em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  
}


.nav div.main_list .navlinks li span {

  position: absolute;
  margin-top:50px;
  margin-left:-100px;
  color:var(--links);
  background:rgba(0, 0, 0, 0);
  border-radius:20px;
  transform:scale(0) rotate(-12deg);
  transition:all .25s;
  opacity:0;
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  
}


.nav div.main_list .navlinks li:hover span, li:focus span {

  transform:scale(1) rotate(0);  
  opacity:1;
  
}


.nav div.main_list .navlinks :hover > i{

  color: var(--linksHover);
  text-shadow: var(--textShadow);
  
}


.nav div.main_list .navlinks .sub-menu li {

  padding: 0;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;

}


.nav div.main_list .navlinks .sub-menu {

  background: var(--subMenuBg);
  height: 300%;
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 20px;

}


.nav div.main_list ul li a {

  text-decoration: none;
  color: var(--links);
  line-height: 65px;
  font-size: 1.6em;
  transition:all 0.25s;

}


.nav div.main_list ul li a:hover {

  color: var(--linksHover);
  text-shadow: var(--textShadow);

}


.navTrigger {

  display: none;

}


.nav {

  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

}


.affix {

  padding: 0;
  background: var(--subMenuBg);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 0 0 20px 20px;

}



/*  ---------------------ANIMATION BOUTON NAVBAR--------------------- */



.navTrigger {

  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  
}


.navTrigger i {

  background-color: var(--linksHover);
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  
}

.navTrigger i:nth-child(1) {

  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;

}


.navTrigger i:nth-child(2) {

  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;

}


.navTrigger i:nth-child(3) {

  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;

}


.navTrigger.active i:nth-child(1) {

  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;

}


.navTrigger.active i:nth-child(2) {

  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;

}


.navTrigger.active i:nth-child(3) {

  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;

}


@-webkit-keyframes inM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}


@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}


@-webkit-keyframes outM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}


@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}


@-webkit-keyframes inT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}


@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}


@-webkit-keyframes outT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}


@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}


@-webkit-keyframes inBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}


@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}


@-webkit-keyframes outBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}


@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}



/*  ---------------------FOOTER--------------------- */



.footer #button {

	width:35px;
	height:3px;
	border: var(--subMenuBg)12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;

}


.footer #button i {

  color: rgb(255, 255, 255);
  text-shadow: var(--textShadow);
  opacity: 1;
  
}


.footer:hover  #button i {

opacity: 0;

}


.footer:hover #button {

	width:35px;
	height:35px;
	border: var(--subMenuBg)12px solid;
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
	position:relative;

}


.footer {

	bottom:0;
	left:0;
	position:fixed;
  width: 100%;
  height: 2em;
  overflow:hidden;
  margin:0 auto;
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
	z-index:999;
  color: var(--links);
  font-family: 'Allerta Stencil', sans-serif;
  
}


.footer:hover {

	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
	height: 25em;

}


.footer #container {

	margin-top:5px;
	width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
	background: var(--div);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;

}


.footer #cont {

  display: flex;
  flex-direction: row;
  position:relative;
  /* top:-45px;
  right:190px;
	width:150px;
	height:auto; */
	margin:0 auto;

}


.footer_center {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
	width:25%;
	float:left;
  text-align:center;

}


.footer_center img {

	width:100%;

}


.footer_center i {

  color: var(--subMenuBg);
  font-size: 1.2em;

}


.icon  i {

  color: white;

}


.footer_center iframe {

	width:100%;
  height: 100%;
  padding: 2%;
  border: none;
  border-radius: 20px;
  margin-top: 5%;
  filter: grayscale(1);
  transition: filter 0.6s;

}


.footer_center iframe:hover {

  filter: grayscale(0);
  
}


.footer h3 {

	font-family: 'Allerta Stencil', sans-serif;
	font-size: 30px;
	font-weight: 100;

}


.footer a {

	color: var(--links);
  text-decoration: none;

}


.wrapperIcon {

  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;

}


.wrapperIcon .icon {

  position: relative;
  background: var(--iconFooter);
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}


.wrapperIcon .tooltip {

  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}


.wrapperIcon .tooltip::before {

  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}


.wrapperIcon .icon:hover .tooltip {

  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

}


.wrapperIcon .icon:hover span,
.wrapperIcon .icon:hover .tooltip {

  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);

}


.wrapperIcon .facebook:hover,
.wrapperIcon .facebook:hover .tooltip,
.wrapperIcon .facebook:hover .tooltip::before {

  background: #1877F2;
  color: #ffffff;

}


.wrapperIcon .youtube:hover,
.wrapperIcon .youtube:hover .tooltip,
.wrapperIcon .youtube:hover .tooltip::before {

  background: #CD201F;
  color: #ffffff;

}



/*  ---------------------PAGE INDEX LIENS EQUIPES --------------------- */




.containerLinkTeam {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 8%;
  background-color: #040404;
  background-image: var(--gifDiv);
  background-size: cover;
  box-shadow: var(--boxShadow);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  font-family: 'Quantico', sans-serif;

}


.linkTeam:hover {

  background: var(--subMenuBg);
  border-radius: 5px;
  box-shadow: var(--shadowButton);

}


.linkTeam {

  width: 50%;
  background: rgba(147, 147, 147, 0.097);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
  font-size: 2em;
  text-align: center;

}


.linkTeam a {

text-decoration: none;
color: var(--links);

}



/*  ---------------------Page CGU---------------------  */



.cguContainer {

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  color: var(--links);
  font-family: 'Quantico', sans-serif;
  background-color: #040404;
  background-image: var(--gifDiv);
  background-size: cover;

}


.cgu {

  max-width: 80vw;
  text-align: center;
  line-height: 2em;
  background: rgba(255, 255, 255, 0.056);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  padding: 5%;

}


.cgu h2 {

  text-shadow: var(--textShadow);
  font-size: 2.2em;
  font-family: 'Quantico', sans-serif;
  margin-bottom: 5%;

}



/*  ---------------------PAGE PLAN DU SITE---------------------  */



#planSite {

  padding-top: 8%;
  padding-bottom: 5%;
  width: 100%;
  min-height: 70vh;
  color: var(--links);
  font-family: 'Quantico', sans-serif;
  background-color: #040404;
  background-image: var(--gifDiv);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Quantico', sans-serif;

}


.mainLink {

  margin-top: 3%;
  background: rgba(255, 255, 255, 0.056);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  min-width: 200px;
  text-align: center;
  padding: 2%;

}


.mainLink a {

  text-decoration: none;
  color: var(--links);
  font-size: 2em;
  font-family: 'Quantico', sans-serif;

}


.mainLink a:hover {

  text-shadow: var(--textShadow);

}


.targetLink {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.targetLink a {

  font-size: 1.5em;

}


.titlePlan {

  font-size: 3em;
  font-family: 'Quantico', sans-serif;
  text-shadow: var(--textShadow);

}



/*  ---------------------PAGE PROFIL---------------------  */



#containerProfil {

  min-width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 8%;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
  color: var(--links);
  font-family: 'Quantico', sans-serif;
  background-color: #040404;
  background-image: var(--gifDiv);
  background-size: cover;

}


#containerProfil h2 {

  text-shadow: var(--textShadow);
  font-size: 2.2em;
  font-family: 'Quantico', sans-serif;

}


#containerProfil h3 {


  font-size: 1.6em;
  font-family: 'Quantico', sans-serif;
  font-weight: lighter;

}

.modifProfil {

  background: var(--subMenuBg);
  display: inline-block;
  padding: 10px 20px;
  color: var(--links);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  font-family: 'Quantico', sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-bottom: 2%;
}

.modifProfil:hover {

  background: var(--subMenuBg);
  color: var(--links);
  border-radius: 5px;
  box-shadow: var(--shadowButton);
  
}


.containerInfo {

  background: rgba(255, 255, 255, 0);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  min-width: 30vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-right: 2%;
  margin-top: 10%;

}


.containerPostProfil {

  min-width: 60vw;
  min-height: 40vh;
  text-align: center;
  background: rgba(212, 212, 212, 0);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;

}


.postProfil {

  background: var(--bg-color);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 1%;
  border-radius: 10px;
  max-height: 100%;

}


.postProfil p {
 
  font-size: 1.2em;

}


.postProfil span {

  font-size: 0.7em;
  color: var(--linksHover);
  background: rgb(15, 14, 14);
  border-radius: 5px;
  padding: 0.3%;

}


.postItems {

  min-width: 70%;
  max-width: 70%;

}


.postActions {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  
}


.postActions a {

  color: var(--links);
  font-size: 1.4em;
  transition:all 0.25s;

}


.postActions a:hover {

  text-shadow: var(--textShadow);
  font-size: 1.6em;

}


.supprFirst {

  font-size: 2.4em;
  font-family: 'Quantico', sans-serif;
  text-shadow: var(--textShadow);
  text-align: center;
  color: var(--links);

}


.supprSecond {

  color: red;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  margin-top: 10%;
  margin-bottom: 10%;
  transition: all 0.4s;

}


.supprSecond:hover {

  text-shadow: rgb(255, 255, 255) 1px 0 10px;
  transition: all 0.4s;

}


.supprThird {

  text-align: center;
  color: black;
  font-size: 0.7em;

}



/*  ---------------------MEDIA QUERY--------------------- */



@media only screen and (min-width: 801px) and (max-width: 1200px) {


  /* ---------------------NAVBAR----------------------*/



  .navTrigger {

    display: block;
  }


  .nav div.logo {

    margin-left: 15px;
    width: 25%;

  }


  .nav div.logo img {

    width: 80%;

  }


  .nav div.main_list {

    width: 100%;
    height: 0;
    overflow: hidden;

  }


  .nav div.show_list {

    height: auto;
    display: block;
      
  }

  #mainListDiv {

    background: var(--div);
    box-shadow: var(--boxShadow);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
  }


  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--div);
    box-shadow: var(--boxShadow);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
   
  }


  .nav div.main_list ul li {

    width: 100%;
    text-align: right;

  }


  .nav div.main_list ul li a {

    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 20px;

  }

  .navlinks :hover > .sub-menu {

    display: none;
  
  }


  /*  ---------------------PAGE PLAN DU SITE---------------------  */

  #planSite {

    padding-top: 15%;

  }



/*  ---------------------Page CGU---------------------  */

.cguContainer{

  padding-top: 18%;

}

}
 

@media only screen and (max-width: 800px)  {


  /* ---------------------NAVBAR----------------------*/


  .navTrigger {

    display: block;
  }


  .navlinks :hover > .sub-menu {

    display: none;
  
  }

  .nav div.logo {

    margin-left: 15px;
    width: 25%;

  }


  .nav div.logo img {

    width: 100%;

  }


  .nav div.main_list {

    width: 100%;
    height: 0;
    overflow: hidden;

  }


  .nav div.show_list {

    height: 100vh;
    display: block;
    background: var(--div);
    box-shadow: var(--boxShadow);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
      
  }

#mainListDiv {

  background: var(--div);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}

  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--div);
    box-shadow: var(--boxShadow);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
   
  }

  


  .nav div.main_list ul li {

    width: 100%;
    text-align: right;

  }

  .nav div.main_list ul li a {

    text-align: center;
    width: 100%;
    font-size: 1.8em;
    padding: 20px;

  }


  /* ---------------------BOUTON DARK/LIGHT--------------------- */



.theme-switch-wrapper {

  left: 40%;

}



  /*  ---------------------PAGE PLAN DU SITE---------------------  */

#planSite {

  padding-top: 20%;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
  padding-bottom: 8%;
  
}

.titlePlan {

  font-size: 1.4em;
  
}

.mainLink a {

  font-size: 1em;


}


/*  ---------------------Page CGU---------------------  */

.cguContainer{

  padding-top: 30%;
  
}

.cgu h2 {

  font-size: 1.2em;
}

.cgu p {

  font-size: 0.8em;
}



  /*  ---------------------FOOTER--------------------- */

.footer_center {

  gap: 20px;
	width:50%;
  margin-top: 8%;

}
#foot1{
  display: none;
}

#foot2{
  display: none;
}

.footer h3 {

	font-family: 'Allerta Stencil', sans-serif;
	font-size: 0.8em;
	font-weight: 100;

}



/*  ---------------------PAGE PROFIL---------------------  */

#containerProfil {

  flex-direction: column;
  padding-top: 30%;
  padding-bottom: 10%;
  justify-content: center;
  align-items: center;
}

#containerProfil h2 {

  font-size: 1.6em;

}

.containerInfo {

  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 5%;
}

.postProfil p {

  font-size: 0.8em;
  line-height: 2;

}



}
