/* Login */

#loginPage {

  background-color: #040404;
  background-image: var(--gifDiv);
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;

}

.loged{

  font-size: 2em;
  text-align: center;
  padding-top: 5%;
  font-family: 'Quantico', sans-serif;
}

.login-box {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 380px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(147, 147, 147, 0.097);
  box-sizing: border-box;
  box-shadow: var(--boxShadow);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Quantico', sans-serif;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--links);
  text-align: center;
  text-shadow: var(--textShadow);
  font-size: 1.8em;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--links);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--links);
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--linksHover);
  font-size: 12px;
}

.login-box button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #000000;
  font-size: 16px;
  font-family: 'Quantico', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box button:hover {
  background: var(--linksHover);
  color: #fff;
  border-radius: 5px;
  box-shadow: var(--shadowButton);
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--linksHover));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--linksHover));
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--linksHover));
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--linksHover));
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}



    /* PAGE INSCRIPTION */

.login-panel {

  width: 100%;
  min-height: 100vh;
  background-color: #040404;
  background-image: var(--gifDiv);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Quantico', sans-serif;

      
}

  
.login-panel div {

  width: 50%;
  height: 100%;
  float: left;
  
}
  

.formRegister {

  padding: 50px 25px;
  box-sizing: border-box;
  color: var(--links);
  margin: 10%;
  background: rgba(147, 147, 147, 0.097);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  
}

.formRegister input {
      
  margin: 2%;
  border-radius: 10px;
  padding: 5px;
  background-color: #ffffff73;
  color: var(--links);
  border: none;
      
}

  
.formRegister h2 {
      
  margin-bottom: 2%;
  font-size: 1.8em;
  font-family: 'Quantico', sans-serif;
  text-shadow: var(--textShadow);
      
}

  
.formRegister .formRow {
  
  margin: 10px 0;
  padding: 2.5px 0;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #888;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

  
.submit-btn {

  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  font-family: 'Quantico', sans-serif;
  

}


.submit-btn:hover {

  background: var(--linksHover);
  color: #fff;
  border-radius: 5px;
  box-shadow: var(--shadowButton);

  }

  
@media only screen and (max-width: 1100px) {



}


@media only screen and (max-width: 800px) {

  .login-panel {

    margin-top: 20%;
    height: 100vh;
        
  }

  .login-panel div {

    width: 90%;
    height: 100%;
    float: left;
    margin-top: 5%;
    
  }

  .submit-btn {

    margin: 10%;
    
  }


}
  
*:focus {

  outline: none;

}