/* PAGE TABLEAU RENCONTRE */

.rencontreContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-color: #040404;
    background-image: var(--gifDiv);
    background-size: cover;
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    font-family: 'Quantico', sans-serif;
    border-radius: 10px;
    min-height: 100vh;
  
  }
  
  .tableRencontre  {
  
    color: var(--links);
    text-align: center;
    margin-top: 5%;
    background: rgba(255, 255, 255, 0.056);
    box-shadow: var(--boxShadow);
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    
  }
  
  .tableRencontre h2 {
  
    font-size: 2em;
    font-family: 'Black Ops One', cursive;
  }
  
    
  .tableRencontre h3 {
  
  font-size: 1.6em;
  }
  
    .tableRencontre a {
  
    color: var(--links);
  }
  
  
  .tableRencontre  th {
  
    width: 20%;
    padding: 1%;
  }
  
    .tableRencontre  td {
  
      padding: 2%;
    }
  
  
    .tableRencontre  td img{
   
    width: 70%;
      
  }



  /* PAGE DETAIL STADE */


  #containerDetailStade {

    background-color: #040404;
    background-image: var(--gifDiv);
    background-size: cover;
    font-family: 'Quantico', sans-serif;
    padding-top: 10%;
    min-height: 100vh;
    z-index: 45;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

  .detailStade {

    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .imgStade  {

    min-width: 50%;
    max-width: 60%;
    margin-left: 2%;
  }

  .imgStade img {

    width: 100%;
    border-radius: 10px;
  }

  .infoStade {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: var(--links);
    font-size: 2em;
    margin-left: 2%;
  }

  .goBack {

    color: var(--linksHover);
    font-size: 1em;
    text-decoration: none;
  }

  /*  ---------------------MEDIA QUERY--------------------- */



@media only screen and (min-width: 801px) and (max-width: 1165px) {


}

@media only screen and (max-width: 800px)  {



  /* PAGE TABLEAU RENCONTRE */


  .rencontreContainer {

    padding: 0%;
    padding-top: 30%;
    align-items: normal;
  }

  .tableRencontre {

    margin-top: 0%;
  }

  .tableRencontre h2 {

    font-size: 1.6em;
  }

  .tableRencontre h3 {

    font-size: 1.3em;
  }

  .tableRencontre th {

    font-size: 1em;
  }

  .tableRencontre td {

    font-size: 0.6em;
  }


    /* PAGE DETAIL STADE */


    #containerDetailStade {

      padding-top: 30%;


    }

    .detailStade {

      flex-direction: column;
    }

    .imgStade {

      min-width: 80%;
      max-width: 100%;
      padding: 2%;
      margin-left: 0%;
    }

    .infoStade h2 {

      font-size: 1.2em;

    }

    .infoStade span {

      font-size: 0.8em;
    }
}