* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

  background-color: #000000;
  /* background-image: url('/img/back.svg');
  background-repeat: no-repeat;
  background-size: cover; */
}

/* NavBar */


#topNav {
  max-width: 90vw;
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.172) 0%, #ffffffa7 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 60px 0; */
}

.link {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.link img {

  width: 10%;

  
  }


#topNav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);

}

#topNav ul li {
  display: inline-block;

}

#topNav ul li a {
  padding: 18px;
  text-transform:uppercase;
  color: rgba(255, 255, 255, 0.848);
  font-size: 18px;
  text-decoration: none;
  display: block;
  

}

#topNav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-child {
  display: none;
  min-width: 200px;

}
.dropdown-child .linkChild {
  
  padding: 20px;
  text-decoration: none;
  display: block;

}
.dropdown:hover .dropdown-child {
  display: flex;
  flex-direction: column;
  
}

.dropdown:hover .dropdown-child li a {

  font-size: 1em;
  color: red;
  
}



  /* Footer */


  a, a:hover, a:focus, a:active {
      text-decoration: none;
      outline: none;
  }
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  
  .main-footer{
    position: relative;
    bottom: 0%;
    background: #1e2129;
    min-height: 40vh;
    
  }

  .footerRow {

    position: relative;
    display: flex;
    flex-direction: row;

    /* justify-content: space-around; */
  }
  
  .footer-content{
    position: relative;
    padding: 85px 0px 80px 0px;

  }
  .footer-content:before{
    position: absolute;
    content: '';
    background: url(https://i.ibb.co/jyRLrBZ/world-map.png);
    width: 744px;
    height: 365px;
    top: 50px;
    right: 0px;
    background-size: cover;
    background-repeat: no-repeat;
  
  }

  .logoClub {
  
    width: 20%;
  }

  .logoClub img{
  
    width: 100%;
  }

  .logoWidget{
    position: relative;
    margin-top: -5px;
    margin-left: 10%;
    width: 25%;
 
    
  }

  .logoWidget ul {
    display: flex;
    flex-direction: row;
  }
  .logoWidget .footer-social li{
    /* position: relative;
    display: inline-block; */
    margin-right: 9px;
    margin-top: 10%;
  }
  .logoWidget .footer-social li:last-child{
    margin-right: 0px;
  }
  .logoWidget .footer-social li a{
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    background: #2e3138;
    color: #9ea0a9;
    text-align: center;
    border-radius: 50%;
  }
  .logoWidget .footer-social li a:hover{
    color: #ffffff;
    background: #ff1414;
  }
  .footer-content .logo-widget .logo-box{
    
    margin-bottom: 25px;

  }

 
  .footer-content .logo-widget .text p{
    color: #9ea0a9;
    margin-bottom: 32px;
  }
  .footer-content .footer-title{
    position: relative;
    font-size: 24px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 27px;
  }
  .footer-content .service-widget .list li{
    display: block;
    margin-bottom: 12px;
  }
  .footer-content .service-widget .list li a{
    position: relative;
    display: inline-block;
    color: #9ea0a9;
  }
  .footer-content .service-widget .list li a:hover{
    color: #ff1414;
  }
  .footer-content .contact-widget p{
    color: #9ea0a9;
    margin-bottom: 15px;
  }
  .footer-content .contact-widget{
    margin-left: 90px;
  }
  .footer-content .contact-widget .footer-title{
    margin-bottom: 29px;
  }
  
  /** footer-bottom **/
  
  .footer-bottom{
    position: relative;
    background: #13151a;
    padding: 25px 0px 22px 0px;
  }

  .footerRowBotom {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-bottom .copyright,
  .footer-bottom .copyright a,
  .footer-bottom .footer-nav li a{
    position: relative;
    color: #9ea0a9;
  }
  .footer-bottom .copyright a:hover,
  .footer-bottom .footer-nav li a:hover{
    color: #ff1414;
  }
  .footer-bottom .footer-nav{
    position: relative;
    text-align: right;
  }
  .footer-bottom .footer-nav li{
    position: relative;
    display: inline-block;
    margin-left: 29px;
  }
  .footer-bottom .footer-nav li:first-child{
    margin-left: 0px;
  }
  .footer-bottom .footer-nav li:before{
    position: absolute;
    content: '';
    background: #9ea0a9;
    width: 1px;
    height: 14px;
    top: 7px;
    left: -18px;
  }
  .footer-bottom .footer-nav li:first-child:before{
    display: none;
  }
  .logo-box img {
      max-width: 220px;
  }

/* Login */

.loged{

  font-size: 2em;
  text-align: center;
  padding-top: 5%;
}

.login-box {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 380px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(147, 147, 147, 0.097);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(255, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f40303;
  font-size: 12px;
}

.login-box button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box button:hover {
  background: #f403038e;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f40303cb,
              0 0 25px #f40303b5,
              0 0 50px #f40303a4,
              0 0 100px #f40303d9;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f40303);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f40303);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f40303);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f40303);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}



    /* PAGE INSCRIPTION */

    .login-panel {
      width: 100%;
      height: 80vh;
      background-color: #ffffff00;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      
  }
  
  .login-panel div {
      width: 50%;
      height: 100%;
      float: left;
  
  }
  

  
  .formRegister {
      padding: 50px 25px;
      box-sizing: border-box;
      color: white;
      margin: 10%;
      background: rgba(147, 147, 147, 0.097);
      box-shadow: 0 15px 25px rgba(255, 0, 0, 0.6);
      backdrop-filter: blur( 8.5px );
      -webkit-backdrop-filter: blur( 8.5px );
      border-radius: 10px;

  }
  
  .formRegister h1 {
      text-transform: uppercase;
      margin-bottom: 2%;
      
  }
  
  .formRegister .formRow {
      margin: 10px 0;
      padding: 2.5px 0;
      width: 100%;
      border: 0;
      border-bottom: 2px solid #888;
  }
  
  .submit-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  .submit-btn:hover {
    background: #f403038e;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f40303cb,
              0 0 25px #f40303b5,
              0 0 50px #f40303a4,
              0 0 100px #f40303d9;
  }
  
  @media only screen and (max-width: 1100px) {
    .login-panel {
      width: 70%;
      height: 400px;
      background-color: #fff;
    }
  }
  @media only screen and (max-width: 800px) {
    .login-panel {
      width: 70%;
      height: 500px;
      background-color: #fff;
    }
    .login-panel div:first-of-type {
      width: 100%;
      height: 100px;
    }
    .login-panel div {
      width: 100%;
      height: 400px;
    }
  }
  
  *:focus {
      outline: none;
  }


  /* HOME  */


#mainIntro {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: #040404;
    background-image: url(https://i.gifer.com/7Ik1.gif);
    background-size: cover;
 
}

.txtIntro {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txtIntro :hover {

  filter: hue-rotate(120deg);
  -webkit-filter: hue-rotate(120deg);

}

.txtIntro h1 {

  text-align: left;
  background-size: cover;
	-moz-background-clip: text;
	-webkit-background-clip: text;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 5;
	text-transform: uppercase;
	font-size: 15em;
  color: rgba(255, 255, 255, 0.072);
  background-image: url(https://media.tenor.com/c_1cG4o53fYAAAAC/thunder-red.gif);
    
}

.txtIntro h2 {

  text-align: left;
  background-size: cover;
	-moz-background-clip: text;
	-webkit-background-clip: text;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 5;
	text-transform: uppercase;
	font-size: 10em;
  color: rgba(255, 255, 255, 0.072);
  background-image: url(https://media.tenor.com/c_1cG4o53fYAAAAC/thunder-red.gif);
    
}


.homeIntro {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  margin-top: 3%;
  min-height: 80vh;
  max-width: 40vw;
  margin-left: 5%;
  background: rgba(255, 0, 0, 0);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;



}

.homeIntro h2 {

  font-size: 2.4em;
  margin-bottom: 10%;

}

.homeIntro p {

  font-size: 1.4em;
  color: rgb(255, 255, 255);
  text-align: center;

}

#homePresentation {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;

}

.textePresentation {

  min-width: 40vw;
  min-height: 80vh;
  margin: 5%;
  background-color: #000;

}

.imgPresentation {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 50vw;
  padding: 3%;
  margin-right: 2%;
  background-color: #000000;
  border-radius: 20px;
}

.imgPresentation img {

    max-width: 40vw;
    border-radius: 10px;
}

.imgPresentation h4 {

  color: white;
  margin-top: 2%;
  font-size: 1.2em;
}

.imgPresentation p {

  color: white;
  font-size: 0.8em;
}

#slideActu{

  width: 100%;
  display: flex;
  padding: 0 20px;

}

.slide{
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all .5s ease-in-out;
}

.slide  h3{
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active{
  flex: 10;
}

.slide.active h3{
  opacity: 1;
  transition: opacity .3s ease-in .4s;
}

  /* Player Card Details */


  .player-details {
    width: 100%;
    height: auto;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player-bio {

    text-align: center;
  }

.birth-date {

  margin-top: 10%;
  margin-bottom: 10%;
}

  .player-dates {
    position: relative;
    bottom: 0px;
    display: inline-block;
    height: auto;
    width: 70%;
    padding: 0px 10px 10px 0px;
    word-break: break-word;
    opacity: 0.6;
    text-align: center;
  }
  .title {
    font-weight: 600;
    text-align: end;
  }

  h1 {
    font-size: 1.8rem;
    font-family: "Futura";
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    word-break: normal;
    line-height: 1;
  }
  
  h2 {
    font-family: "Futura";
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1rem;
    display: inline-block;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  .cols {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .col {
    width: calc(25% - 2rem);
    margin: 1rem;
  }
  .container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .bottom-section {
    background: #00000000;
    z-index: 999999999;
    height: 250px;
    position: absolute;
    padding: 2rem 2rem 0.2rem 2rem;
    bottom: 0%;
    width: 100%;
    border-radius: 0px 0px 14px 14px;
  }
  .top-section {
    height: 200px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
  }
  .player-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%;
    filter: drop-shadow(10px 10px 24px #000);
  }

  .club-logo {
    position: relative;
    display: block;
    margin: 10px auto;
    height: 90px;
  }
  .front,
  .back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    background-position: center;
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    height: 450px;
    border-radius: 14px;
    color: #fff;
    font-size: 1rem;
  }
  .front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-image: url("https://flannerypeakperformance.co.uk/wp-content/uploads/2022/10/background-stripes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff000085;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 14px;
  }
  .container:hover .front,
  .container:hover .back {
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  .back {
    background: #962c2c;
    font-family: "Work Sans";
    font-weight: 100;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .back .bottom-section {
    text-align: left;
    line-height: 1;
    padding: 0.5rem 1rem 1rem 1rem;
  }
  .inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 30%;
    position: absolute;
    width: 100%;
    padding: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
  }
  .container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  .container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  .front .inner p:after {
    content: "";
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #c6d4df;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -0.75rem;
  }
  .front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Futura";
    font-weight: 600;
  }
  @media screen and (max-width: 64rem) {
    .col {
      width: calc(33.333333% - 2rem);
    }
  }
  @media screen and (max-width: 48rem) {
    .col {
      width: calc(50% - 2rem);
    }
  }
  @media screen and (max-width: 32rem) {
    .col {
      width: calc(100% - 2rem);
    }
  }

 
  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 0px;
      opacity: 1;
    }
  }
  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 0px;
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeout {
    from {
      bottom: 0px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
  @keyframes fadeout {
    from {
      bottom: 0px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }

  /* FIFA CARD Index */

  #containerCard {

    display: flex;
    flex-direction: row;
    padding: 2%;
  }

  #card {
    position: relative;
    color: #725b16;
    width: 270px;
    height: 430px;
    background: #ddd;
    margin: auto;
    clip-path: url("#svgPath");
    display: block;
 }
  #card #card-inner {
    position: absolute;
    top: 0;
    left: 0;
    background: #aaa;
    height: 100%;
    width: 100%;
 }
  #card #card-inner #card-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 54%;
    background: #e1c072;
    overflow: hidden;
    background: linear-gradient(135deg, #fdeaa7 0%, #d8ad48 100%);
 }
  #card #card-inner #card-top .backfont {
    position: absolute;
    bottom: -22px;
    line-height: 1;
    font-size: 118px;
    left: 0;
    letter-spacing: -5px;
    font-weight: 700;
    font-style: italic;

 }
  #card #card-inner #card-top .image img {
    position: absolute;
    right: 15%;
    bottom: 0;
    z-index: 2;
    height: 75%;
    width: 70%;
 }
  #card #card-inner #card-top .info {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    height: 75%;
    width: 30%;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
 }
  #card #card-inner #card-top .info div {
    position: relative;
    line-height: 1;
    letter-spacing: -1px;
    font-size: 20px;
    top: 20px;
 }


  #card #card-inner #card-top .info div.position {
    padding-bottom: 5px;
    font-weight: 700;
    margin-bottom: 5px;
    border-bottom: 2px solid rgba(253, 234, 167, 0.9);
 }

  #card #card-inner #card-top .info div.club img {
    position: relative;
    display: block;
    width: 60px;
    left: -20%;
    margin: 5px auto;
    
 }

  #card #card-inner #card-bottom {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 46%;
    background: #fdeaa7;
    background: linear-gradient(135deg, #fdeaa7 0%, #fcde75 100%);
 }
  #card #card-inner #card-bottom:before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 3px;
    background: #fef2ca;
 }
  #card #card-inner #card-bottom .name {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    top: -5px;
    position: relative;
    margin: 6px 0;
 }

  #card #card-inner #card-bottom .stats:after {

    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 4px;
    width: 0;
    background: #fdeaa7;
 }
  #card #card-inner #card-bottom .stats:before {

    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: 5% auto;
    height: 0%;
    width: 4px;
    background: #fdeaa7;
 }
  #card #card-inner #card-bottom .stats div {
    width: 49%;
    vertical-align: top;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
 }
  #card #card-inner #card-bottom .stats div:last-child ul {
    margin-left: 0;
 }
  #card #card-inner #card-bottom .stats ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
  #card #card-inner #card-bottom .stats ul li {
    margin: 0;
    position: relative;
    padding: 0;
    display: block;
    margin-bottom: 5px;
    opacity: 0;
    left: 20px;
 }

  #card #card-inner #card-bottom .stats ul li span:first-child {
    font-weight: 700;
    width: 30px;
    text-align: left;
 }

 #card #card-inner #card-bottom .stats   span {
  padding-left: 10px;

}
  #card {
    display: block;
    transform: rotate(0deg);
    opacity: 1;
 }
  #card #card-inner #card-top .image {
    right: 0;
    opacity: 1;
 }
  #card #card-inner #card-top .backfont {
    opacity: 0.1;
    left: -8px;
 }
  #card #card-inner #card-top .info div {
    opacity: 1;
    top: 0;
 }
  #card #card-inner #card-bottom .stats {
    border-top: 4px solid #fdeaa7;
 }
  #card #card-inner #card-bottom .stats:after {
    width: 25%;
 }
  #card #card-inner #card-bottom .stats:before {
    height: 90%;
 }
  #card #card-inner #card-bottom .stats ul li {
    opacity: 1;
    left: 0;
 }
  #card #card-inner #card-bottom .name {
    opacity: 1;
    top: 0;
 }


 /* Caroussel Home */

 .indexActualite {
  padding: 60px 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.indexActualite .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.indexActualite .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.indexActualite .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  top: 100;
  overflow: hidden;

}


@media (min-width: 992px) and (max-width: 1199px) {

  .indexActualite {
    padding: 50px 30px;
  }
  .indexActualite .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .indexActualite {
    padding: 50px 30px 40px;
  }
  .indexActualite .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }

}

@media (max-width: 767px) {

  .indexActualite {
    padding: 30px 15px 20px;
    flex-wrap: wrap;
  }
  .indexActualite .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }

}


/* PAGE DETAIL ACTU */


.detailActuWrapper {

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 7px;
  padding: 3%;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );

}

.detailActuWrapper img {

  max-width: 50%;
  border-radius: 5%;
}

.textActu {

  color: white;
}

.commentContainer {

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 7px;
  padding: 3%;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
}

.comments {

/* max-width: 50%; */
min-width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 5%;
color: white;

}

.commentWrapper {

  display: flex;
  flex-direction: column;

}

.commentsText {

  font-size: 1.2em;
}

.userPost {

  font-size: 0.8em;
}


/* PAGE TABLEAU RENCONTRE */

.rencontreContainer {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  margin: 2%;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;

}

.tableRencontre  {

  color: white;
  text-align: center;
  background: rgba(255, 255, 255, 0.056);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
}

.tableRencontre h2 {

  font-size: 1.8em;
}

  
.tableRencontre h3 {

font-size: 1.6em;
}

  .tableRencontre a {

  color: white;
}


.tableRencontre  th {

  width: 20%;
  padding: 1%;
}

  .tableRencontre  td {

    padding: 2%;
  }


  .tableRencontre  td img{
 
  width: 70%;
    
}


/* Page Index Liens Equipes */

.containerLinkTeam {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  max-width: 90vw;
  margin: 5%;
  background: rgba(147, 147, 147, 0.097);
  box-shadow: 0 15px 25px rgba(255, 0, 0, 0.6);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
}

.containerLinkTeam  :hover {

  background: #f403038e;
  border-radius: 5px;
  box-shadow: 0 0 5px #f40303cb,
              0 0 25px #f40303b5,
              0 0 50px #f40303a4,
              0 0 100px #f40303d9;
  }

.linkTeam {

  width: 50%;
  background: rgba(147, 147, 147, 0.097);
  box-shadow: 0 15px 25px rgba(255, 0, 0, 0.6);
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
  font-size: 2em;
  text-align: center;
}

.linkTeam a {

text-decoration: none;
color: white;
}





