        /* _______________________Page Index _______________________ */
  
  /* ----------------------------- Player Card Index ------------------------ */

.nameTeam {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;

}


.nameTeam h2 {

  text-align: left;
  font-family: 'Black Ops One', cursive;
  background-size: cover;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 5;
  text-transform: uppercase;
  font-size: 6em;
  color: rgba(255, 0, 0, 0.043);
  background-image: var(--gifText);

}

.nameTeam h3 {

  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  color: var(--links);
  font-size: 3em;
  text-shadow: var(--textShadow);
}


#wrapperCard {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #040404;
  background-image: var(--gifDiv);
  background-size: cover;
  padding: 8%;

}


#containerCard {

  display: flex;
  flex-direction: row;
  padding: 2%;
  gap: 30px;

}


#card {

  position: relative;
  color: #725b16;
  width: 270px;
  height: 430px;
  background: #ddd;
  margin: auto;
  clip-path: url("#svgPath");
  display: block;
  font-family: 'Allerta Stencil', sans-serif;

}


#card #card-inner {

  position: absolute;
  top: 0;
  left: 0;
  background: #aaa;
  height: 100%;
  width: 100%;

}


#card #card-inner #card-top {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 54%;
  background: #e1c072;
  overflow: hidden;
  background: linear-gradient(135deg, #fdeaa7 0%, #d8ad48 100%);

}


#card #card-inner #card-top .backfont {

  position: absolute;
  bottom: -22px;
  line-height: 1;
  font-size: 8em;
  left: 0;
  color: red;
  letter-spacing: -5px;
  font-weight: 700;
  font-style: italic;
  font-family: 'Black Ops One', cursive;

}


#card #card-inner #card-top .image  {

  position: absolute;
  right: 5%;
  top: 20%;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#card #card-inner #card-top .image img {

  height: 100%;
  width: 100%;

}


#card #card-inner #card-top .info {

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  height: 75%;
  width: 30%;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;

}


#card #card-inner #card-top .info div {

  position: relative;
  line-height: 1;
  letter-spacing: -1px;
  font-size: 20px;
  top: 20px;

}
 

#card #card-inner #card-top .info div.position {

  padding-bottom: 5px;
  font-weight: 700;
  margin-bottom: 5px;
  border-bottom: 2px solid rgba(253, 234, 167, 0.9);

}


#card #card-inner #card-top .info div.club img {

  /* position: relative;
  display: block;
  width: 60px;
  left: -20%;
  margin: 5px auto; */
  position: relative;
  display: block;
  width: 120px;
  right: -144px;
  top: -75px;
  margin: 5px auto;
    
}


#card #card-inner #card-bottom {

  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 46%;
  background: #fdeaa7;
  background: linear-gradient(135deg, #fdeaa7 0%, #fcde75 100%);

}


#card #card-inner #card-bottom:before {

  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 3px;
  background: #fef2ca;

}


#card #card-inner #card-bottom .name {

  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  top: -5px;
  position: relative;
  margin: 6px 0;

}


#card #card-inner #card-bottom .stats:after {

  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 4px;
  width: 0;
  background: #fdeaa7;

}


#card #card-inner #card-bottom .stats:before {

  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  margin: 5% auto;
  height: 0%;
  width: 4px;
  background: #fdeaa7;

}


#card #card-inner #card-bottom .stats div {

  width: 49%;
  vertical-align: top;
  padding-left: 10%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;

}


#card #card-inner #card-bottom .stats div:last-child ul {

  margin-left: 0;
 
}


#card #card-inner #card-bottom .stats ul {

  list-style: none;
  margin: 0;
  padding: 0;

}


#card #card-inner #card-bottom .stats ul li {

  margin: 0;
  position: relative;
  padding: 0;
  display: block;
  margin-bottom: 5px;
  opacity: 0;
  left: 20px;

}


#card #card-inner #card-bottom .stats ul li span:first-child {

  font-weight: 700;
  width: 30px;
  text-align: left;

}


#card #card-inner #card-bottom .stats   span {

  padding-left: 10px;

}


#card {

  display: block;
  transform: rotate(0deg);
  opacity: 1;

}

#card #card-inner #card-top .image {

  right: 0;
  opacity: 1;

}


#card #card-inner #card-top .backfont {

  opacity: 0.1;
  left: -8px;

}


#card #card-inner #card-top .info div {

  opacity: 1;
  top: 0;

}


#card #card-inner #card-bottom .stats {

  border-top: 4px solid #fdeaa7;

}


#card #card-inner #card-bottom .stats:after {

  width: 25%;

}


#card #card-inner #card-bottom .stats:before {

  height: 90%;

}


#card #card-inner #card-bottom .stats ul li {

  opacity: 1;
  left: 0;

}


#card #card-inner #card-bottom .name {

  opacity: 1;
  top: 0;

}


@media only screen and (max-width:768px)  {

  #containerCard {

    flex-direction: column;
    gap: 20px;
    margin-top: 20%;
    margin-bottom: 10%;

  }
}



        /* _______________________Page Details _______________________ */

  /* ----------------------------- Player Card Details ------------------------ */


#containerDetailPlayer {

  background-color: #040404;
  background-image: var(--gifDiv);
  background-size: cover;
  font-family: 'Quantico', sans-serif;
  /* margin-top: 10%; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 45;

}

.container {

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    width: 25%;
  
  }


.front, .back {

  background-size: cover;
  box-shadow: var(--boxShadow);
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  text-align: center;
  height: 500px;
  width: 100%;
  border-radius: 14px;
  color: var(--links);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/img/front/Fond.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ff000000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 14px;
  font-family: 'Quantico', sans-serif;

}


.container:hover .front,
.container:hover .back {

  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);

}


.back {

  font-weight: 100;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}


.inner {

  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}


.top-section {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
  font-family: 'Quantico', sans-serif;
  

}


.top-section span {

  margin-top: 10%;
  font-size: 2em;
}


.player-photo {

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  filter: drop-shadow(10px 10px 24px #000);
  z-index: 10;
  
}


.club-logo {

  position: relative;
  display: block;
  height: 90px;

}


.bottom-section {

  background: #00000000;
  z-index: 999999999;
  /* position: absolute; */

}


.bottom-section h2 {

  text-align: left;
  font-family: 'Black Ops One', cursive;
  background-size: cover;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 5;
  text-transform: uppercase;
  font-size: 6em;
  color: rgba(255, 0, 0, 0.043);
  background-image: var(--gifText);

}


.container .back {

  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);

}


.container .front {

  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

}


.container:hover .back {

  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);

}


.container:hover .front {

  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.containerInfoPlayer {

  background-image: url("/img/front/Fond.png");
  mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
  background-position:0% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ff000000;
  min-width: 60%;
  min-height: 500px;
  z-index: 44;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

}

.infoPlayer {

  color: var(--links);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoPlayer span {

font-size: 2em;
margin-top: 3%;
}

.infoPlayer img {

  width: 40%;

}


.infoPlayer h2 {

  font-family: 'Black Ops One', cursive;
  font-size: 6em;
  text-align: center;
  
}



.animeName {

  color: white;
  position: absolute;
  bottom: 0% ;
  min-width: 100vw;
  text-align: right;
  font-family: 'Black Ops One', cursive;
  font-weight: bold;
  letter-spacing: -15px;
  text-transform: uppercase;
  font-size: 10em;
  background: var(--gradientName);
  color : white;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 10s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  z-index: 2;

}



@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}




    /* _______________________Page Entraineur _______________________ */


#entraineurContainer {

  background-color: #040404;
  background-image: var(--gifDiv);
  background-size: cover;
  font-family: 'Quantico', sans-serif;
  min-height: 100vh;
  padding-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 45;
  gap: 20px;
  
}



/*  ---------------------MEDIA QUERY--------------------- */



@media only screen and (min-width: 801px) and (max-width: 1165px) {


          /* _______________________Page Index _______________________ */
  
  /* ----------------------------- Player Card Index ------------------------ */

  .nameTeam h2 {

    font-size: 4.2em;
  }

  .nameTeam h3 {

    font-size: 3.4em;
  }

          /* _______________________Page Details _______________________ */

  /* ----------------------------- Player Card Details ------------------------ */

  #containerDetailPlayer {

    flex-direction: column;
    padding-top: 15%;
  }

  .container {

    width: 50%;
    margin-bottom: 5%;
  }

  .animeName {

    display: none;
  }


}

@media only screen and (max-width: 800px)  {

          /* _______________________Page Index _______________________ */
  
  /* ----------------------------- Player Card Index ------------------------ */

  #wrapperCard {

    padding-top: 30%;
  }

  .nameTeam h2 {

    font-size: 2.2em;
  }

  .nameTeam h3 {

    font-size: 1.4em;
  }


        /* _______________________Page Details _______________________ */

  /* ----------------------------- Player Card Details ------------------------ */

  #containerDetailPlayer {

    flex-direction: column;
    padding-top: 30%;
  }

  .container {

    width: 80%;
  }

  .animeName {

    display: none;
  }

  .containerInfoPlayer {

    margin-top: 5%;
    margin-bottom: 10%;

  }

  .infoPlayer {

    justify-content:center;

  }

  .infoPlayer h2 {

    font-size: 3em;
  }

  .infoPlayer span {

    font-size: 1.8em;
  }



      /* _______________________Page Entraineur _______________________ */

    

      #entraineurContainer {

        flex-direction: column;
        margin-top: 0%;
        padding-top: 30%;
        padding-left: 2%;
        padding-right: 2%;
      }

}