{% extends 'base.html.twig' %}

{% block title %}Hello EntraineurController!{% endblock %}

{% block body %}


    <p> {{ entraineurs.nomentraineur }} </p>
    <p> {{ entraineurs.prenomentraineur }} </p>


{% endblock %}
