{% extends 'base.html.twig' %}

{% block title %}Modifier Mon Profil{% endblock %}

{% block body %}

<section id="editContainer">

    <div class="originalComment">

        <h3> Pseudo Original : {{ user.pseudo }} </h3>

        <h3> Mail Original : {{ user.email }} </h3>


    </div>

    <div class="editComment">

        <h3>Modifier Mon Profil : </h3>

            {% if app.user %}
                    
                {{ form(formEditProfil) }}
                            
            {% endif %}

    </div>
    
</section>

{% endblock %}