{% extends 'base.html.twig' %}

{% block title %}Equipe U-9{% endblock %}

{% block body %}


  <a href="{{ path('app_equipe') }}">Equipe</a>
  <a href="{{ path('app_entraineur') }}">Entraineur</a>
  <a href="{{ path('app_rencontre') }}">Matchs</a>


{% endblock %}